Materi yang akan kita pelajari ini,membutuhkan pengetahuan terkait tipe data dan juga level of measurement yang umum ditemui di bidang statistika

# Apa itu Categorical Encoding?

Secara umum,suatu dataset akan terbentuk dari kombinasi nilai numerical dan categorical.hanya saja komputer/machine memiliki keterbatasan,dimana pada dasarnya komputer hanya dapat memahami angka atau numerical dan tidak dapat memahami teks atau categorical.Oleh karenanya,kita butuh untuk melakukan konversi nilai categorical ini menjadi nilai numerical.agar algoritma machine learning dapat memahaminya dengan baik.

Categorical Encoding adalah proses konversi nilai categorical menjadi nilai numerical.

Terdapat banyak jenis Categorical Encoding, dua di antaranya adalah:

* Label Encoding
* One Hot Encoding 

Referensi: https://en.wikipedia.org/wiki/One-hot

# Label Encoding

Pada Label Encoding, setiap kategori pada suatu feature akan diurutkan secara alfabet dan direpresentasikan dengan sebuah nilai integer.

### Dataset

* Dataframe akan kita bentuk dari suatu dictionary
* 3 buah keys yang akan menrepresentasikan 3 buah kolom yaitu "country","age","salary"
* Setiap keys akan diberi value,sekumpulan nilai berasosiasi dengan key tersebut
* Dictionary ini akan digunakan sebagai basis untuk membentuk objek dataframe

In [2]:
import pandas as pd

df = pd.DataFrame({
    'country': ['India', 'US', 'Japan', 'US', 'Japan'], 
    'age': [44, 34, 46, 35, 23],
    'salary': [72000, 65000, 98000, 45000, 34000]
})

df

  country  age  salary
0   India   44   72000
1      US   34   65000
2   Japan   46   98000
3      US   35   45000
4   Japan   23   34000

*Dari ketiga kolom hasil tersebut,terdapat sebuah kolom dengan nilai categorical yaitu kolom country dan kita akan terapkan label encoding dalam kolom tersebut,dengan proses seperti dibawah*

### Label Encoding pada Scikit Learn

In [3]:
from sklearn.preprocessing import LabelEncoder #import modul

label_encoder = LabelEncoder() #bentuk objek dari kelas label encoder
df['country'] = label_encoder.fit_transform(df['country']) #fit transform terhadap kolom country 
df

   country  age  salary
0        0   44   72000
1        2   34   65000
2        1   46   98000
3        2   35   45000
4        1   23   34000

Dari hasil tersebut,kita mengetahui bahwa sebelum label encoding diterapkan,kolom country ini berisi data teks sedangkan setelah label encoding kita terapkan kolom country ini berisi data numerik.

In [4]:
label_encoder.classes_

array(['India', 'Japan', 'US'], dtype=object)

Proses ini untuk memahami proses dibalik kolom country tersebut yang berisi data teks jadi data numerik

Dari hasil tersebut,merupakan kumpulan class atau kumpulan category yang menjadi acuan label encoding kita.ketiga category atau label negara ini diurutakan secara alphabet (India,Japan,US).berarti india menempati posisi index Ke-0,Japan menempati posisi index ke-1,dan US menempati posisi index ke-2

Oleh karenanya,India direpresentasikan sebagai integer 0,Japan direpresentasikan sebagai integer 1,US direpresentasikan sebagai integer 2

Penjelasan kelemahan dasar label encoding

kategori atau label country akan diurutkan secara aplhabet,dengan representasi nilai semacam ini,beberapa algoritma machine learning bisa saja menarik hubungan bahwa India bernilai lebih kecil dari Japan dan Japan bernilai lebih kecil dari US.kondisi semacam ini,tentunya tidak kita harapkan.untuk mengantisipasi kondisi seperti ini,maka kita akan mempelajari dari jenis categorical encoding yang kedua seperti dibawah ini

# One Hot Encoding

Pada One Hot Encoding, setiap kategori pada suatu feature akan diurutkan secara alfabet dan direpresentasikan sebagai sekumpulan bits.

### Dataset

In [ ]:
df = pd.DataFrame({
    'country': ['India', 'US', 'Japan', 'US', 'Japan'],
    'age': [44, 34, 46, 35, 23],
    'salary': [72000, 65000, 98000, 45000, 34000]
})

df

### One Hot Encoding pada Scikit Learn

In [ ]:
X = df['country'].values.reshape(-1,1)
X

Sebagai persiapan,kita akan isolasi dulu sekumpulan nilai dari kolom country,dimana sekumpulan nilai ini akan kita konversikan menjadi sebuah array

Perlunya reshape dikarenakan sekumpulan nilai ini akan kita perlakukan sebagai nilai features dimana nilai features dalam scikit learn diharapkan untuk ditampung dalam suatu array dua dimensi

In [ ]:
from sklearn.preprocessing import OneHotEncoder

onehot_encoder = OneHotEncoder()
X = onehot_encoder.fit_transform(X).toarray() #fit transform konversikan menjadi suatu array
X

In [ ]:
onehot_encoder.categories_

Proses ini untuk memahami proses One Hot Encoding.

Pada hasil tersebut,sebuah array yang menampung sekumpulan nilai country yang sudah diurutkan secara alfabetic dan bisa tampak terdapat tiga kategory atau tiga label country yaitu (India,Japan,US).karena terdapat tiga country,maka untuk setiap country akan dipresentasikan bits tiga digit.

India merupakan country pertama.India memiliki representasi bits tiga digit,dimana digit pertamanya akan bernilai 1
Japan merupakan country kedua.Japan memiliki representasi bits tiga digit,dimana digit keduanya akan bernilai 1
US merupakan country ketiga.US memiliki representasi bits tiga digit,dimana digit ketiganya akan bernilai 1

In [ ]:
df_onehot = pd.DataFrame(X, columns=[str(i) for i in range(X.shape[1])])
df_onehot

Proses array hasil one hot encoding dikonversikan menjadi dataframe

In [ ]:
df = pd.concat([df_onehot, df], axis=1)
df

Proses dataframe diatas digabungkan dengan dataframe sebelumnya

India direpresentasikan dengan 1.0 0.0 0.0
Japan direpresentasikan dengan 0.0 1.0 0.0
US direpresentasikan dengan 0.0 0.0 1.0

Perlu diperhatikan setiap digit dari bitsnya itu ditempatkan di kolom yang terpisah.

In [ ]:
df = df.drop(['country'], axis=1)
df

Karena kolom country ini sudah kita representasikan dengan menggunakan one hot encoding seperti tadi maka kolom country ini kita drop dengan cara seperti di atas

# Label Encoding vs One Hot Encoding

Kita menerapkan One Hot Encoding bila:

* Nilai categorical adalah nominal
* Jumlah kategori yang ada tidak terlalu banyak

Kita menerapkan Label Encoding bila:

* Nilai categorical adalah ordinal
* Jumlah kategori yang ada relatif banyak